body {
  width    : auto;
  height   : 100%;
  margin   : 0;
overflow:hidden;
}




#firstPage {

    background-image: url(images/tie.jpg);
    background-repeat: no-repeat;
    background-color:#e45d49;
     background-blend-mode : multiply;
  background-repeat   : no-repeat;
    height:100vh;
    }

#text{
    font-size: 5em;
    cursor: pointer;
    font-family: sans-serif;
    animation: 6s fadein forwards;
    }
    @keyframes fadein{
        0%{
            opacity: 0;
        }
        25%{
            opacity: 0.25;

        }
        50%{
            opacity: 0.5;

        }
        75%{
            opacity: 0.75;

        }
        100%{
            opacity: 1;
        }
    }

    h1{
        margin-left: 850px;
        margin-top: 300px;
        color:#4FC0AA;
    }


#background {
  height                : 100vh;

  background-image      : url(images/OfficeFINISHED.png);
  background-color      : cadetblue;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;

}

#background2 {
  height  : 100vh;
    background-color: black;

}

#background2 button {
    margin-top:200px;
    text-decoration: none;

font-family: sans-serif;


}

#elevator {
background-color: cadetblue;
    color: grey;
    font-size: 2em;
font-weight: 900;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid ;

}
#dinner {
background-color: cadetblue;
    color: grey;
    font-size: 2em;
font-weight: 900;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid ;

}

#bedroom {
background-color: cadetblue;
    color: grey;
    font-size: 2em;
font-weight: 900;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid ;

}


#bathroom {


background-color: cadetblue;
    color: grey;
    font-size: 2em;
font-weight: 900;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid ;

}
#bathroom {


  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid ;

}

#options {

     position    : absolute;

  width       :100vw;
  height      : 100vh;
  color       : deeppink;

  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
    opacity:0;
}

#background3 {

  width                 : auto;
  height                : 100vh;

  background-image      : url(images/el1FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#background4 {

  width                 : auto;
  height                : 100vh;
  background-image      : url(images/el2FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#background5 {


  width                 : auto;
  height                : 100vh;
  background-image      : url(images/el3FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

.enterElevator {
  animation : enterElevator 0.8s forwards;
}

@keyframes enterElevator {
  0% {
    bottom : 10px;
  }

  100% {
    bottom : 200px;
  }
}

#cat {
  display  : none;
  position : absolute;
  bottom   : 10px;
  left     : 40%;
  width    : 100px;
}

#greyBack {
  display  : none;
  position : absolute;
  bottom   : 10px;
  left     : 50%;
  width    : 100px;
}


#background6 {

   position              : relative;

  width                 : 100vw;
  height                : 100vh;
  background-image      : url(images/DiningRoomFINISHED.jpg);
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#cuddleApp {
      position    : absolute;

  width       :80vw;
  height      : 100vh;
  color       : deeppink;

  font-family : sans-serif;
  font-size   : 5em;
  font-weight : 900;
    opacity:0.4;
    z-index:3;
      top:-150%;

}




#background7 {
  display               : none;
   position              : absolute;

  width                 : 100vw;
  height                : 100vh;
  background-image      : url(images/insideElFINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#door1 {
  position : relative;
  left     : -50%;
  width    : 50%;
  height   : 800px;
}

.door1Close {
  animation : door1Close 2s ease-out forwards;
}

@keyframes door1Close {
  0% {
    left : -50%;
  }

  100% {
    left : 0%;
  }
}

#door2 {
  position : relative;
  right    : -50%;
  width    : 50%;
  height   : 800px;
  float    : right;
}

.door2Close {
  animation : door2Close 2s ease-out forwards;
}

@keyframes door2Close {
  0% {
    right : -50%;
  }

  100% {
    right : 0%;
  }
}

#anaInElevator {
padding-top:350px;
  height      : 400px;
  margin-left : 350px;

}

#greyInElevator {
  left   : 500px;
  width  : auto;
  height : 500px;
}

#girlSits {
  position : absolute;
  top      : 220px;
  left     : 120px;
  width    : 10%;
}

#boySits {
  position : absolute;
  top      : 220px;
  right    : 100px;
  width    : 10%;
}

#grey {
  position : absolute;
  bottom   : 80px;
  left     : 50%;
  opacity  : 0;
    height:350px;
}

#ana {
  position : absolute;
  bottom   : 80px;
  left     : -30%;
}

#book {
    height:70px;
  position : absolute;
  bottom   : 120px;
  left     : -35%;

}



.mirror {

  transform: rotateY(180deg);
}


#anaKiss {
  display  : none;
  position : absolute;
  bottom   : 200px;
  left     : 40%;
  height   : 300px;
}

#greyKiss {
  display  : none;
  position : absolute;
  right    : 40%;
  bottom   : 220px;
  height   : 300px;
}

#crowd {
  display  : none;
  position : absolute;
  right    : 10%;
  bottom   : 0px;
   padding:0;
    height:300px;


}




#anaEmbarrased  {
  display  : none;
  position : absolute;
  bottom   : 200px;
  left     : 40%;
  height   : 300px;
}

#greyEmbarrased {
  display  : none;
  position : absolute;
  right    : 40%;
  bottom   : 220px;
  bottom   : 220px;
  height   : 300px;
}

#playAgain {

  position   : absolute;
  top        : 10px;
  color      : cadetblue;
  background : none;
  font-size  : 2em;
    z-index:100;

}

#startText {
  position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : deeppink;
  opacity     : 0;
  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}

#itBegan {
  position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : deeppink;
  opacity     : 0;
  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}

.textSlideDown {
  animation : textSlideDown 2s forwards;
}

@keyframes textSlideDown {
  100% {
    top : 50%;
  }
}

.fadeText {
  animation : fadeText 3s ease-out  forwards;
}

@keyframes fadeText {
  0% {
    opacity : 1;
  }

  10%,
  20%,
  30%,
  50% {
    opacity : 1;
  }

  100% {
    opacity : 0;
  }
}

.anaEnters {
  animation : anaEnters 2s ease-out forwards;
}

@keyframes anaEnters {
  0% {
    left : -30%;
  }

  100% {
    left : 30%;
  }
}

.bookDrop {
  animation : bookDrop 0.8s forwards;
}

@keyframes bookDrop {
  100% {
    bottom : 80px;
    left   : 30%;
  }
}

#backgroundBedroom {
      position              : absolute;
    left:0;
    top:0;
  width               : 100vw;
  height              : 100vh;
	background-size: cover;
  background-image    : url("images/redRoom.png");
    background-color:#e45d49;
     background-blend-mode : multiply;
  background-repeat   : no-repeat;
  background-position : center;
    display:none;
}


#playroomText {
       position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : white;

  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}

#anaPlayroom {
    height:300px;
    position: absolute;
    bottom:10px;
    left:25%;
}
#greyPlayroom {
    height:350px;
    position: absolute;
    bottom:10px;
    left:50%;
}

#sexToys {
    margin-left:25%;
}
#mask{
    height:70px;
    width:100px;
}
#mask1{
     height:70px;
    position: absolute;
    bottom:190px;
 display:none;

    left:35%;
}
#pillow1 {

    position: absolute;
    bottom:120px;
    left:45%;
    display: none;

}

#feather1 {

    position: absolute;
    bottom:120px;
    left:45%;
    display:none;

}
#whip1 {

    position: absolute;
    bottom:120px;
    left:45%;
    display:none;

}


.sexToysPulse {
	animation: pulse1 6s linear infinite;

}
@keyframes pulse1 {
 0% {

   	transform: scale(1.1);
 }
 50% {

   	transform: scale(1);
 }
 100% {


   	transform: scale(1.1);
 }

}



/*#contract{
    margin-left: 590px;
    animation: fadein 9s forwards;
    position: absolute;
    margin-left:30%;

}*/

#svgContract {
    position: relative;
     margin-left: 590px;
    animation: fadein 9s forwards;
    position: absolute;
    margin-left:30%;
}

svg {
    position: absolute;
    bottom:10px;
}

@keyframes fadein {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}


#Layer_1{
    opacity: 0;
    margin-left: 700px;
    fill:black;
    stroke-width:5;

}

#bath {
            /*need another image*/
            background-image: url(images/ShowerFINISHED.jpg);
            height: 100vh;
            width: 100vw;
    position:relative;
        }

        #bbl {
            position:relative;
            height: 600px;
            width: 700px;
            margin-left: 700px;
        }

        #ass {
            height: auto;
            width: 150px;
            position: absolute;
            right: 20vw;
         bottom:15vh;
            opacity: 0;
        }

        #steam {
            height: auto;
            width: 1900px;
        }

        .move {
            animation: move 5s forwards;
        }

        @keyframes move {
            100% {
                transform: translateY(-600px);
            }
        }





        .shake {
            animation: shake 2s 3 forwards;
        }

        @keyframes shake {

             0% {
                transform: translateY(-20px);
                   opacity: 0.5;
            }
            10% {
                opacity: 0.5;
            }
            20% {
                transform: translateY(-20px);
                opacity: 0.5;
            }
             40% {
                transform: translateY(20px);
                 opacity: 0.5;
            }
             60% {
                transform: translateY(-20px);
                 opacity: 0.5;
            }
             80% {
                transform: translateY(20px);
                 opacity: 0.5;
            }
             100% {
                transform: translateY(-20px);
                   opacity: 0.5;
            }

        }
.steamUp {
            animation: moves 5s forwards;
        }

        @keyframes moves {
            100% {
                transform: translateY(-800px);
            }
        }

        div{
            overflow: hidden;
        }

#steamyText {
  position:absolute;
    color:deeppink;
    font-size: 5em;
    font-family: sans-serif;
    font-weight: 900;
     width       : 500px;

    opacity:1;
}
