body {
  width    : auto;
  height   : 100%;
  margin   : 0;
  overflow : hidden;
}

#play {
  color            : deeppink;
  background-color : cadetblue;
  font-size        : 2em;
}

#background {
  height                : 100vh;

  background-image      : url(images/OfficeFINISHED.png);
  background-color      : cadetblue;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;

}

#background2 {
  display          : none;
  width            : 100vw;
  height           : 100vh;
  background-color : black;
}

#background2 button {
  color            : white;
  background-color : grey;
}

#background3 {
  position              : absolute;
    left:0;
    top:0;
  width                 : auto;
  height                : 100vh;

  background-image      : url(images/el1FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#background4 {
    position              : absolute;
    left:0;
    top:0;
  width                 : auto;
  height                : 100vh;
  background-image      : url(images/el2FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#background5 {
   position              : absolute;
    left:0;
    top:0;
  width                 : auto;
  height                : 100vh;
  background-image      : url(images/el3FINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

.enterElevator {
  animation : enterElevator 0.8s forwards;
}

@keyframes enterElevator {
  0% {
    bottom : 10px;
  }

  100% {
    bottom : 200px;
  }
}

#cat {
  display  : none;
  position : absolute;
  bottom   : 10px;
  left     : 40%;
  width    : 100px;
}

#greyBack {
  display  : none;
  position : absolute;
  bottom   : 10px;
  left     : 50%;
  width    : 100px;
}

#background6 {
  display               : none;
   position              : absolute;
    left:0;
    top:0;
  width                 : 100vw;
  height                : 100vh;
  background-image      : url(images/DiningRoomFINISHED.jpg);
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#background7 {
  display               : none;
   position              : absolute;
    left:0;
    top:0;
  width                 : 100vw;
  height                : 100vh;
  background-image      : url(images/insideElFINISHED.jpg);
  background-color      : #83abcc;
  background-blend-mode : multiply;
  background-repeat     : no-repeat;
  background-position   : center;
  background-size       : cover;
}

#door1 {
  position : relative;
  left     : -50%;
  width    : 50%;
  height   : 800px;
}

.door1Close {
  animation : door1Close 2s ease-out forwards;
}

@keyframes door1Close {
  0% {
    left : -50%;
  }

  100% {
    left : 0%;
  }
}

#door2 {
  position : relative;
  right    : -50%;
  width    : 50%;
  height   : 800px;
  float    : right;
}

.door2Close {
  animation : door2Close 2s ease-out forwards;
}

@keyframes door2Close {
  0% {
    right : -50%;
  }

  100% {
    right : 0%;
  }
}

#anaInElevator {
  width       : auto;
  height      : 400px;
  margin-left : 300px;
}

#greyInElevator {
  left   : 500px;
  width  : auto;
  height : 500px;
}

#girlSits {
  position : absolute;
  top      : 220px;
  left     : 120px;
  width    : 10%;
}

#boySits {
  position : absolute;
  top      : 220px;
  right    : 100px;
  width    : 10%;
}

#grey {
  position : absolute;
  bottom   : 100px;
  left     : 50%;
  opacity  : 0;
}

#ana {
  position : absolute;
  bottom   : 80px;
  left     : -30%;
}

#book {
  position : absolute;
  bottom   : 120px;
  left     : -40%;
}

#anaKiss {
  display  : none;
  position : absolute;
  bottom   : 200px;
  left     : 40%;
  height   : 300px;
}

#greyKiss {
  display  : none;
  position : absolute;
  right    : 40%;
  bottom   : 220px;
  height   : 300px;
}

#crowd {
  display  : none;
  position : absolute;
  right    : 10%;
  bottom   : 0px;
  height   : 350px;
}

.playAgain {
  display    : none;
  position   : absolute;
  top        : 10px;
  color      : cadetblue;
  background : none;
  font-size  : 2em;
}

#startText {
  position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : deeppink;
  opacity     : 0;
  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}

#itBegan {
  position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : deeppink;
  opacity     : 0;
  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}

.textSlideDown {
  animation : textSlideDown 2s forwards;
}

@keyframes textSlideDown {
  100% {
    top : 50%;
  }
}

.fadeText {
  animation : fadeText 3s ease-out  forwards;
}

@keyframes fadeText {
  0% {
    opacity : 1;
  }

  10%,
  20%,
  30%,
  50% {
    opacity : 1;
  }

  100% {
    opacity : 0;
  }
}

.anaEnters {
  animation : anaEnters 2s ease-out forwards;
}

@keyframes anaEnters {
  0% {
    left : -30%;
  }

  100% {
    left : 30%;
  }
}

.bookDrop {
  animation : bookDrop 0.8s forwards;
}

@keyframes bookDrop {
  100% {
    bottom : 80px;
    left   : 30%;
  }
}

#backgroundBedroom {
      position              : absolute;
    left:0;
    top:0;
  width               : 100vw;
  height              : 100vh;
	background-size: cover;
  background-image    : url("images/redRoom.jpg");
    background-color: mediumpurple;
     background-blend-mode : multiply;
  background-repeat   : no-repeat;
  background-position : center;
    display:none;
}

#playroom {

      position    : absolute;
  width       : 500px;
  height      : 100vh;
  color       : dodgerblue;

  font-family : sans-serif;
  font-size   : 6em;
  font-weight : 900;
}
